
Block_02/.ipynb_checkpoints/04_Aufgabe_2-checkpoint.ipynb
Block_03/.ipynb_checkpoints/Vorlesung_03_Template-checkpoint.ipynb
Block_03/.ipynb_checkpoints/01_Auskommentieren von Quellcode-checkpoint.ipynb
Block_02/.ipynb_checkpoints/04_Aufgabe_2-checkpoint.ipynb
Block_02/.ipynb_checkpoints/03_Steuerzeichen-checkpoint.ipynb
Block_02/.ipynb_checkpoints/04_Aufgabe_2-checkpoint.ipynb
Block_02/.ipynb_checkpoints/04_Aufgabe_2-checkpoint.ipynb
Block_02/.ipynb_checkpoints/04_Aufgabe_2-checkpoint.ipynb
Block_03/.ipynb_checkpoints/04_Beispiele explizite Typumwandlung in Python-checkpoint.ipynb
Block_03/.ipynb_checkpoints/05_Übungsaufgaben für Operatoren-checkpoint.ipynb
Block_02/.ipynb_checkpoints/04_Aufgabe_2-checkpoint.ipynb
Block_02/.ipynb_checkpoints/04_Aufgabe_2-checkpoint.ipynb
Block_03/.ipynb_checkpoints/05_Übungsaufgaben für Operatoren_Lsg-checkpoint.ipynb
Block_03/.ipynb_checkpoints/02_Änderung des Datentyps einer Variablen-checkpoint.ipynb
Block_05/.ipynb_checkpoints/Vorlesung_05_Template-checkpoint.ipynb
Block_04/.ipynb_checkpoints/03_Debugger-checkpoint.ipynb
Block_04/.ipynb_checkpoints/02_Aufgabe_4_1_Lsg-checkpoint.ipynb
Block_04/.ipynb_checkpoints/01_Bibliotheken-checkpoint.ipynb
Block_06/.ipynb_checkpoints/01_Verzweigungen-checkpoint.ipynb
Block_06/.ipynb_checkpoints/02_Schleifen_Sprunganweisungen-checkpoint.ipynb
Block_06/.ipynb_checkpoints/A6_5_schere_stein_papier_Lsg-checkpoint.ipynb
Block_06/.ipynb_checkpoints/A6_4_magic_8_ball_Lsg-checkpoint.ipynb
Block_05/.ipynb_checkpoints/01_Arbeiten_mit_strings-checkpoint.ipynb
Block_05/.ipynb_checkpoints/02_Operatorrangfolge-checkpoint.ipynb
Block_05/01_Arbeiten_mit_strings.ipynb
Block_05/.ipynb_checkpoints/03_Gültigkeit_Variablen-checkpoint.ipynb
Block_08/.ipynb_checkpoints/Vorlesung_08_Template-checkpoint.ipynb
